# Ignore node_modules in all subfolders
**/node_modules

# Ignore build folders
**/build

# Ignore environment files
**/.env

# Ignore logs
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/